.navmain{
    background: linear-gradient(180deg, #1078B7 0%, rgba(0, 159, 255, 0.54) 99.99%, rgba(16, 120, 183, 0) 100%);
}
.nav-item{
    display:flex;
    align-items: center;
}
.comp_table{
    background: linear-gradient(180deg, #E7F1FF 0%, rgba(121, 163, 207, 0.72) 100%);
}
.comparativa{
    background: linear-gradient(180deg, #1078B7 0%, #68B7E7 100%);

}
.valor{
    background: #D9D9D9;
}
.test{
    background: rgba(16, 120, 183, 0.58);
    box-shadow: 12px 16px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:750px){
    .comp_table .tab_comp{
        display:flex;
        flex-direction: column;
        height:auto;
        width: auto;
    }
    .test{
        width: 100%;    
    }
    .img-fluid{
        min-width: 30%;
        min-height: 30%;
    }
    .comparativa,.valor, .botón{
        width: 14%;
        font-size: 7px;
    }
    .imagen{
        width: 70%;
        height: 70%;
    }
    .dummy{
        width: 100%;
    }
    .espacio{
        display: none;
    }
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer .col>h3{
    font-family: 'Lexend Deca',sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-item>a{
    text-decoration: none;
    color: #000000;
    font-family: 'Lexend Deca',sans-serif;
    font-style: normal;
    font-size: 1rem;
    line-height: 25px;
}