<div class=" py-5 bg-light">
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Modalidades de admision</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas modalidades de admision, a continuación se muestran estas modalidades</p>
        <hr>
        <h2 class="mb-1 font-lex fs-1">Modalidades de estudio</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas modalidades de estudio, a continuación se muestran estas modalidades</p>
        <hr>
    </div>
</div>
 