<div class=" album py-5 bg-light">
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Becas y ayudas socioeconómicas para alumnos</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas becas y ayudas socioeconómicas para que los estudiantes puedan culminar con exito sus estudios, a continuación se muestran estas becas y ayudas.</p>
        <hr>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca de Honor UPC</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-info font-lex"">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Se asigna un 20% de descuento por beca socioeconómica desde la 2da boleta para el primer semestre. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-info font-lex">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización por hermano o padre</h3>
                        <p class="card-text mb-auto font-rale">Si tienes un hermano o padre estudiando en Pregrado o EPE en la UPC, podrás bajar una categoría de pago según la asignada al momento de la inscripción. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca Laureate</h3>
                        <p class="card-text mb-auto font-rale">Laureate y la UPC han decidido otorgar esta beca en reconocimiento a la destacada trayectoria académica del mejor alumno de cada carrera.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a> 
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca deportiva de alto rendimiento</h3>
                        <p class="card-text mb-auto font-rale">Dirigido a deportistas de alto rendimiento de las siguientes disciplinas: fútbol varones, básquet varones y natación damas y varones</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca deportiva seleccionados nacionales</h3>
                        <p class="card-text mb-auto font-rale">Participan deportistas calificados (seleccionados nacionales).</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Becas y ayudas socioeconómicas para postulantes</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas becas y ayudas socioeconómicas para que los postulantes puedan culminar con exito sus estudios, a continuación se muestran estas becas y ayudas.</p>
        <hr>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca de Honor UPC</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-info font-lex"">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA INTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Se asigna un 20% de descuento por beca socioeconómica desde la 2da boleta para el primer semestre. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-info font-lex">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización por hermano o padre</h3>
                        <p class="card-text mb-auto font-rale">Si tienes un hermano o padre estudiando en Pregrado o EPE en la UPC, podrás bajar una categoría de pago según la asignada al momento de la inscripción. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 font-lex" style="color:orangered;">BECA EXTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca Gobierno Regional del Callao (CAFED)</h3>
                        <p class="card-text mb-auto font-rale">Becas integrales a los alumnos destacados egresados del 5to año de Educación Secundaria que han ocupado el primer puesto en una Institución Educativa Pública dentro de la jurisdicción de la Provincia Constitucional del Callao.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb- font-lex" style="color:orangered;">BECA EXTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Programa de Becas Patronato BCP</h3>
                        <p class="card-text mb-auto font-rale">Becas BCP - Carreras Universitarias, en alianza con la UPC, busca transformar la vida de jóvenes talentosos dándoles la oportunidad de acceder a una educación superior de calidad.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6 mb-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative  h-100">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 font-lex" style="color:orangered;" >BECA EXTERNA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca 18</h3>
                        <p class="card-text mb-auto font-rale">Beca otorgada por el estado a jóvenes peruanos en todo el territorio nacional. Para obtenerla, debes tener un alto rendimiento académico.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Servicios</h2>
        <p class="font-rale"> Descubre nuestros laboratorios especializados, aulas, ambientes multideportivos, estudios de grabación. ¡Todo esto y mucho más desde la comodidad de tu casa y desde cualquier dispositivo!</p>
        <hr>
        <div class="row g-4 py-3 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start mb-3">
              <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                
              </div>
              <div>
                <h3 class="fs-5 font-lex fw-bold">AULAS, LABORATORIOS Y TALLERES ESPECIALIZADOS</h3>
                <p class="font-rale">De acuerdo a las facultades y carreras que se brindan en el campus.</p>
                <a href="#" class="btn btn-info font-rale">
                  Conocer más
                </a>
              </div>
            </div>
            <div class="col d-flex align-items-start mb-3">
              <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                
              </div>
              <div>
                <h3 class="fs-5 font-lex fw-bold">SALAS DE CONFERENCIA</h3>
                <p class="font-rale">Auditorio y Aulas Magnas con tecnología de última generación.</p>
                <a href="#" class="btn btn-info font-rale">
                  Conocer más
                </a>
              </div>
            </div>
            <div class="col d-flex align-items-start mb-3">
              <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                
              </div>
              <div>
                <h3 class="fs-5 font-lex fw-bold">CENTRO DE INFORMACIÓN</h3>
                <p class="font-rale">Biblioteca presencial y virtual, mediateca, tecnología bibliográfica, salas de lectura, computadoras, capacitación y cubículos para estudio.</p>
                <a href="#" class="btn btn-info font-rale">
                    Conocer más
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
 