<div class=" album py-5 bg-light">
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Becas y ayudas socioeconómicas</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas becas y ayudas socioeconómicas para que los estudiantes puedan culminar con exito sus estudios, a continuación se muestran estas becas y ayudas.</p>
        <hr>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca de Honor UPC</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Podrás acceder a un 25% de descuento sobre tu pensión mensual durante tu primer ciclo de estudios.</p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">BECA</strong>
                        <h3 class="mb-0 fs-4 font-lex">Beca Socioeconómica</h3>
                        <p class="card-text mb-auto font-rale">Se asigna un 20% de descuento por beca socioeconómica desde la 2da boleta para el primer semestre. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-danger font-lex">RECATEGORIZACIÓN</strong>
                        <h3 class="mb-0 fs-4 font-lex">Recategorización por hermano o padre</h3>
                        <p class="card-text mb-auto font-rale">Si tienes un hermano o padre estudiando en Pregrado o EPE en la UPC, podrás bajar una categoría de pago según la asignada al momento de la inscripción. </p>
                        <a href="#" class="stretched-link font-rale mt-3">Más información</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 