<div class="album py-5 bg-light" id="">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ciencias-de-la-computacion.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ciencias de la Computación</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Vive tu pasión por la creación de nuevos mundos digitales y sé el artífice de una nueva realidad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ciencias-de-la-computacion/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Civil.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Civil</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Deja tu huella en el mundo y construye un entorno soñado a través de una carrera hecha para este gran momento.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-civil/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Software.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería de Software</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Sé un ingeniero creativo que transforma el mundo con soluciones de software y aplicaciones revolucionarias.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-de-software/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/ing-industrial.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Industrial</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Lidera la mejora de los procesos clave de las empresas e instituciones, generando mayor eficiencia y productividad.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-industrial/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Mecatronica.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Mecatrónica</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Atrévete a cambiar el mundo, la sociedad y la calidad de vida de las personas con los proyectos de ingeniería más asombrosos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-mecatronica/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/ing-biomedica.png" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Biomédica</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Sé el desarrollador de tecnologías que mejoren la salud y la calidad de vida de las personas.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-biomedica/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Sistemas.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería de Sistemas de Información</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">El poder de la información digital de las organizaciones en tus manos.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-de-sistemas-de-informacion/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Electronica.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Electrónica</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Conviértete en el creador de las tecnologías más asombrosas del futuro.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-electronica/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/img/carreras/Ing-Ambiental.jpg" alt="Card image cap">
            <div class="card-body">
              <h2 class="font-lex fs-5 fw-bold">Ingeniería Ambiental</h2>
              <hr class="border-3 border-danger">
              <p class="card-text font-rale">Haz posible un mundo sostenible para las futuras generaciones.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-success" href="https://pregrado.upc.edu.pe/facultad-de-ingenieria/ingenieria-ambiental/" target="_blank">Mas Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item ">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
