<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Comparativa entre Universidades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/comp_table.css">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="menu-header">
        <nav class="navbar navmain navbar-expand-lg " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family: 'Lexend Deca',sans-serif;font-weight: 700;">
                    <img src="../static/img/logo.png" alt="Logo" width="50" height="50"
                        class="d-inline-block align-text-center">
                    Test Orientacíón Vocacional Peruana
                </a>
                <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                                style="color: black;"><i class="fa-solid fa-globe"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: black;">ES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="../static/img/user-icon.png" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="comp_table">
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <h4>Cuadros comparativos</h4>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <nav class="nav justify-content-center">
            <div class="container text-center">
                <div class="row rounded">
                    <div class="col-1 espacio"></div>
                    <div class="col-4 ">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle bg-white rounded-pill" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Ingeniería de Sistemas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Carrera Universitaria #1</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Carrera Universitaria #2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Carrera Universitaria #3</a></li>
                            </ul>
                        </li>
                    </div>
                    <div class="col-7"></div>
                    <div class="col-1 espacio"></div>
                </div>
            </div>
        </nav>
        <br>
        <div class="container text-center">
            <div class="row">
                <div class="col-1 espacio"></div>
                <div class="col">
                    <div class="row test tab_comp gap-4 ">
                        <div class="row gap-4">
                            <div class="col dummy"></div>
                            <div class="col align-middle comparativa">Ubicación</div>
                            <div class="col align-middle comparativa">Costos</div>
                            <div class="col align-middle comparativa">Beneficios</div>
                            <div class="col align-middle comparativa">Instalaciones</div>
                            <div class="col-1 align-middle botón">
                                <a href="#">
                                    <img src="../static/img/plus_boton.png" class="imagen" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="row gap-4">
                            <div class="col align-middle comparativa">UPC</div>
                            <div class="col align-middle valor ">Calle de la Universidad 140, Santiago de Surco, Lima.</div>
                            <div class="col align-middle valor ">S/15K-S/30K por año</div>
                            <div class="col align-middle valor ">Innovación, prácticas, intercambios y habilidades blandas</div>
                            <div class="col align-middle valor ">Modernas, laboratorios, biblioteca, deportes y entretenimiento</div>
                            <div class="col-1 dummy "></div>
                        </div>
                        <div class="row gap-4">
                            <div class="col align-middle comparativa">ULIMA</div>
                            <div class="col align-middle valor">Av. Javier Prado Este 4600, Santiago de Surco, Lima</div>
                            <div class="col align-middle valor">S/25K-S/35K por año</div>
                            <div class="col align-middle valor">Formación integral, investigación y tecnología</div>
                            <div class="col align-middle valor">Modernas, laboratorios, biblioteca, deportes y entretenimiento</div>
                            <div class="col-1 dummy"></div>
                        </div>
                        <div class="row gap-4">
                            <div class="col  align-middle comparativa">UNI</div>
                            <div class="col  align-middle valor">Av. Túpac Amaru 210, Rimac, Lima</div>
                            <div class="col  align-middle valor">Menos de S/3K por año</div>
                            <div class="col  align-middle valor">Trayectoria, investigación y desarrollo de software</div>
                            <div class="col  align-middle valor">Antiguas, biblioteca, deportes y algunas áreas renovadas</div>
                            <div class="col-1 dummy"></div>
                        </div>
                        <div class="row gap-4">
                            <div class="col-1 botón">
                                <a href="#">
                                    <img src="../static/img/plus_boton.png" class="imagen" alt="">
                                </a>
                            </div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="col-1 espacio"></div>
            </div>
        </div>
        <br>
    </section>
    <footer class="footer mt-5">
        <div class="container-fluid" style="background: #1078B7;">
            <div class="row">
                <div class="col">
                    <h2 class="text-explore">ITS</h2>
                    <h3 class="text-explore">Innovation in technology for society</h3>
                    <p class="text-explore">© ITS, 2023. Todos los derechos reservados</p>
                </div>
                <div class="col">
                    <h3 class="text-explore">EXPLORA</h3>
                    <ul class="ul-footer">
                        <li class="footer-item">
                            <a href="#">Inicio
                            </a>
                        </li>
                        <li class="footer-item"><a href="#">Nosotros</a></li>
                        <li class="footer-item"><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-ayuda">¿NECESITAS AYUDA?</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-legal">LEGAL</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Terminos y condiciones</a></li>
                        <li class="footer-item"><a href="#">Privacidad</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-contactanos"> CONTACTANOS </h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a>Test.Peruana@gmail.com</a></li>
                        <li class="footer-item"><a>+51 987 654 321</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
</body>

</html>