<div class="py-5 bg-light">
    <div class="container">
        <h2 class="mb-1 font-lex fs-1">Medio de contacto</h2>
        <p class="font-rale"> La Universidad Peruana de Ciencias Aplicadas cuenta con diversas becas y ayudas socioeconómicas para que los estudiantes puedan culminar con exito sus estudios, a continuación se muestran estas becas y ayudas.</p>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class=""><img src="/static/img/svg/whatsapp.png" class="d-lg-block mx-auto mt-2 mb-2 justify-content-center" alt="..." style="height: 64px;"></div>
                <h2 class="font-lex text-primary fw-bold text-lg-center">Whastapp</h2>
                <h5 class="font-rale fw-bold">Alma Whastapp: 962 222 408</h5>
                <div class="row">
                    <div class="col-6">
                        <span class="font-rale fw-bold">Lunes a viernes</span>
                        <p class="font-rale">09:00 am - 09:00 pm</p>
                    </div>
                    <div class="col-6">
                        <span class="font-rale fw-bold">Sabados</span>
                        <p class="font-rale">09:00 am - 09:00 pm</p>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class=""><img src="/static/img/svg/telefono.png" class="d-lg-block mx-auto mt-2 mb-2 justify-content-center" alt="..." style="height: 64px;"></div>
                <h2 class="font-lex text-primary fw-bold text-lg-center">Canal telefónico</h2>
                <h5 class="font-rale fw-bold">(01) 630 3333</h5>
                <div class="row">
                    <div class="col-6">
                        <span class="font-rale fw-bold">Lunes a viernes</span>
                        <p class="font-rale">09:00 am - 09:00 pm</p>
                    </div>
                    <div class="col-6">
                        <span class="font-rale fw-bold">Sabados</span>
                        <p class="font-rale">09:00 am - 02:00 pm</p>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class=""><img src="/static/img/svg/carpeta.png" class="d-lg-block mx-auto mt-2 mb-2 justify-content-center" alt="..." style="height: 64px;"></div>
                <h2 class="font-lex text-primary fw-bold text-lg-center">Base de Conocimientos</h2>
                <h5 class="font-rale fw-bold"><a class="link" href="https://explora.upc.edu.pe" target="_blank">Explora upc</a></h5>
                <div class="row">
                    <div class="col-6">
                        <span class="font-rale fw-bold">Lunes a viernes</span>
                        <p class="font-rale">24 horas</p>
                    </div>
                    <div class="col-6">
                        <span class="font-rale fw-bold">Sabados y domingo</span>
                        <p class="font-rale">24 horas</p>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
    </div>
</div>
