<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Peruana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
</head>

<body class="" style="background: #DBE7F9;">
    <header class="menu-header">
        <nav class="navbar navmain navbar-expand-lg " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html"
                    style="font-family: 'Lexend Deca',sans-serif;font-weight: 700;">
                    <img src="../static/img/logo.png" alt="Logo" width="50" height="50"
                        class="d-inline-block align-text-center">
                    Test Orientacíón Vocacional Peruana
                </a>
                <div class="searchbar1 bg-white px-2 mx-3" style="border-radius: 5px;">
                    <form class="d-flex justify-content-center">
                        <label><i class="fas fa-search mt-2 " aria-current="page" href="#"
                                style="color: rgb(0, 0, 0);"></i></label>
                        <input class="form-control bg-white border-0" type="search" placeholder="Buscar"
                            aria-label="Search" style="box-shadow: none;">
                    </form>
                </div>


                <div class="user" id="navbarScroll">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item navfalse">
                            <a class="nav-link active fa-solid fa-globe " aria-current="page" href="#"
                                style="color: black;"></a>
                        </li>
                        <li class="nav-item navfalse">
                            <a class="nav-link" href="#" style="color: black;">ES</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img src="../static/img/user-icon.png" alt="Logo" width="30" height="30"
                                    class="d-inline-block align-text-top">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="searchbar bg-white px-2 border" style="border-radius: 5px;">
                    <form class="d-flex justify-content-center">
                        <label><i class="fas fa-search mt-2 " aria-current="page" href="#"
                                style="color: rgb(0, 0, 0);"></i></label>
                        <input class="form-control bg-white border-0" type="search" placeholder="Buscar"
                            aria-label="Search" style="box-shadow: none;">
                    </form>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-3 d-flex justify-content-center forummenuprin">
                    <a  href="dashboard.html" style="text-decoration: none;color: black;">
                    <div class="d-flex"><i class="fas fa-home fa-2x"></i><p class="ms-1 my-1">Menu Principal</p></div>
                </a>
                </div>
                <div class="col-6 topforum ">
                    <div class="row">
                        <div class="col-5 d-flex py-2 justify-content-center forummenuprin" style="background: #ACC9F3;">
                            <div class=" me-2" style="background: #E5F0FF;">
                                <i class="far fa-star"></i>Destacados
                            </div>
                            <div class="" style="background: #E5F0FF;">
                                <i class="fas fa-history"></i>Mas Recientes
                            </div>
                        </div>
                        <div class="col-7 text-end">
                            <button class="btn cprimary font-lex" type="button">Hacer una pregunta</button>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-3 p-0 forumsidebar">
                    <div class="col-10 p-2" style="border-radius: 5px;
                    background: #ACC9F3; height: 100%;">
                        <h4 class="font-lex" style="font-weight: 700;">TEMAS</h4>
                        <h5 class="text-start">Universidades
                            <a class="my-1 dropdown-toggle text-black" data-bs-toggle="collapse" href="#collapseExample"
                                role="button" aria-expanded="false" aria-controls="collapseExample">
                            </a>
                        </h5>
                        <div class="collapse show" id="collapseExample">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">UPC</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">UP</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">ULIMA</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">PUCP</label>
                            </div>
                        </div>
                        <h5 class="text-start">Carreras
                            <a class="my-1 dropdown-toggle text-black" data-bs-toggle="collapse" href="#collapseExample"
                                role="button" aria-expanded="false" aria-controls="collapseExample">
                            </a>
                        </h5>
                        <div class="collapse show" id="collapseExample">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">Derecho</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">Administracion</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">Diseño Grafico</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="Universidades">
                                <label class="form-check-label">Ingeniería</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 px-4 forummain" style="background: #C5D9F4;">
                    <div class="row px-4 my-2 forumcard" style="border-radius: 10px;
                    background: #E5F0FF;">
                        <div>Publicado por Jesus Andres Lujan Carrion hace 1 hora</div>
                        <div class="bg-white forum-descripcion my-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-comments fa-2x"></i>
                                <p class="forumtext">Comentarios</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x"></i>
                                <p class="forumtext">Compartir</p>
                            </div>
                        </div>
                    </div>
                    <div class="row px-4 my-2 forumcard" style="border-radius: 10px;
                    background: #E5F0FF;">
                        <div>Publicado por Jesus Andres Lujan Carrion hace 1 hora</div>
                        <div class="bg-white forum-descripcion my-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-comments fa-2x"></i>
                                <p class="forumtext">Comentarios</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x"></i>
                                <p class="forumtext">Compartir</p>
                            </div>
                        </div>
                    </div>
                    <div class="row px-4 my-2 forumcard" style="border-radius: 10px;
                    background: #E5F0FF;">
                        <div>Publicado por Jesus Andres Lujan Carrion hace 1 hora</div>
                        <div class="bg-white forum-descripcion my-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-comments fa-2x"></i>
                                <p class="forumtext">Comentarios</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x"></i>
                                <p class="forumtext">Compartir</p>
                            </div>
                        </div>
                    </div>
                    <div class="row px-4 my-2 forumcard" style="border-radius: 10px;
                    background: #E5F0FF;">
                        <div>Publicado por Jesus Andres Lujan Carrion hace 1 hora</div>
                        <div class="bg-white forum-descripcion my-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-comments fa-2x"></i>
                                <p class="forumtext">Comentarios</p>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x"></i>
                                <p class="forumtext">Compartir</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>
    <footer class="footer mt-3">
        <div class="container-fluid" style="background: #1078B7;">
            <div class="row">
                <div class="col">
                    <h2 class="text-explore">ITS</h2>
                    <h3 class="text-explore">Innovation in technology for society</h3>
                    <p class="text-explore">© ITS, 2023. Todos los derechos reservados</p>
                </div>
                <div class="col">
                    <h3 class="text-explore">EXPLORA</h3>
                    <ul class="ul-footer">
                        <li class="footer-item">
                            <a href="#">Inicio
                            </a>
                        </li>
                        <li class="footer-item"><a href="#">Nosotros</a></li>
                        <li class="footer-item"><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-ayuda">¿NECESITAS AYUDA?</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-legal">LEGAL</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Terminos y condiciones</a></li>
                        <li class="footer-item"><a href="#">Privacidad</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-contactanos"> CONTACTANOS </h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a>Test.Peruana@gmail.com</a></li>
                        <li class="footer-item"><a>+51 987 654 321</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="../static/js/ajax.js"></script>
</body>

</html>