<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="test vocacional, universitario, universidad, test, carrera universitaria">
    <meta name="description" content="Test vocacional rapido y efectivo para saber que carrera es para ti">
    <link rel="shortcut icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/css/landing.css">
    <title>Test Peruana</title>
</head>
<body>
    <header id="header">
        <div class="header-nav">
            <div class="logo-container">
                <img class="img-logo" src="/static/img/logo.png" alt="logo peruana">
                <h2 class="logo-name">Test Orientacíón Vocacional Peruana</h2>
            </div>
            <nav id="nav">
                
            </nav>
            <div class="language">

            </div>
            <div class="button-container">

            </div>
        </div>
    </header>
    <main id="main">

    </main>
    <footer id="footer">

    </footer>
</body>
</html>