<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="test vocacional, universitario, universidad, test, carrera universitaria">
    <meta name="description" content="Test vocacional rapido y efectivo para saber que carrera es para ti">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
    <title>Test Peruana</title>
    </head>
    <body>
        <div class="header">
            <header>
            <a href="../index.html" class="skip-main"><img class="img-logo" src="../static/img/logo.png" alt="logo peruana"></a>
            </header>
            <div></div>
        </div>
        <div class="main -login"id="main">
            <section class="container-login container" id="container">
                <div class="login-right">
                    <form class="loginform">
                        <h1 class="login-h1" style="text-align: center;">Iniciar Sesion</h1>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" required="required" placeholder="email@example.com" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group">
                            <a href="#" class=""><a href="#"class="link-recuperar-contraseña"style="text-align: right;">¿Olvido su contraseña? </a></a>
                            <button type="submit" class="btn-login">
                                <span>INICIAR SESIÓN</span>
                            </button>
                        </div>
                        <div class="form-group">
                            <p class="login-center">
                                <span>o</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn-google">
                                <span></span>
                                <strong>Continuar con Google</strong>
                            </button>
                            <button type="button" class="btn-facebook">
                                <span></span>
                                <strong>Continuar con Facebook</strong>
                            </button>
                            <button type="button" class="btn-twitter">
                                <span></span>
                                <strong>Continuar con Twitter</strong>
                            </button>
                        </div>
                        <div class="form-group2">
                            <span>¿Eres nuevo en nuestra web?</span>
                            <a href="signup.html">Registrate</a>

                        </div>

                    </form>  
                </div>
            </section>

        </div>
        <footer>

        </footer>

    </body>

</html>