<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Peruana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/progress.css">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="menu-header">
        <nav class="navbar navmain navbar-expand-lg " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family: 'Lexend Deca',sans-serif;font-weight: 700;">
                    <img src="../static/img/logo.png" alt="Logo" width="50" height="50"
                        class="d-inline-block align-text-center">
                Test Orientacíón Vocacional Peruana
              </a>
              <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
                            style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active fa-solid fa-globe " aria-current="page" href="#"
                                    style="color: black;"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: black;">ES</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="../static/img/user-icon.png" alt="Logo" width="30" height="30"
                                        class="d-inline-block align-text-top">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>
    <section class="test-vocacional">
        <div class="container">
          <div class="row test border my-3">
            <div class="col">
                <div class="table-responsive rounded-4" style="margin-top: 55px;">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" style="text-align: left;">TESTS REALIZADOS</th>
                      <th colspan="4" Style="text-align: center;">PROGRESO</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="test-column"><a style="cursor: pointer;text-align: center;">Test Vocacional 1</a></td>
                    <td colspan="4">
                      <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="width: 100%"><span class="fw-bold">100%</span></div>
                      </div>
                    </td>
                    <td scope="col" style="width: 10%; white-space: nowrap;text-align: center;"><img src="../static/img/check-verde.png" alt="check-verde" width="50" height="40"></td>
                    <td scope="col" style="width: 10%; text-align: center;"><a style="cursor: pointer;">Ver Resultados</a></td>
                  </tr>
                  <tr>
                    <td class="test-column"><a style="cursor: pointer;text-align: center;">Test Vocacional 2</a></td>
                    <td colspan="4">
                      <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="width: 84%"><span class="fw-bold">84%</span></div>
                      </div>
                    </td>
                    <td scope="col" style="width: 10%; white-space: nowrap;text-align: center;"><img src="../static/img/x-roja.png" alt="x-roja" width="55" height="38"></td>
                    <th scope="col"></th>
                  </tr>
                  <tr>
                    <td class="test-column"><a style="cursor: pointer;text-align: center;">Test Psicométrico</a></td>
                    <td colspan="4">
                      <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="width: 45%"><span class="fw-bold">45%</span></div>
                      </div>
                    </td>
                    <td scope="col" style="width: 10%; white-space: nowrap;text-align: center;"><img src="../static/img/x-roja.png" alt="x-roja" width="55" height="38"></td>
                    <th scope="col"></th>
                  </tr>
                  <tr>
                    <td class="test-column"><a style="cursor: pointer;text-align: center;">Test de IQ</a></td>
                    <td colspan="4">
                      <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="width: 100%"><span class="fw-bold">100%</span></div>
                      </div>
                    </td>
                    <td scope="col" style="width: 10%; white-space: nowrap;text-align: center;"><img src="../static/img/check-verde.png" alt="check-verde" width="50" height="40"></td> 
                    <td scope="col" style="width: 10%; text-align: center;"><a style="cursor: pointer;">Ver Resultados</a></td>                
                  <tr>
                    <td class="test-column"><a style="cursor: pointer;text-align: center;">Test Vocacional 3</a></td>
                    <td colspan="4">
                      <div class="progress-bar-wrapper">
                        <div class="progress-bar" style="width: 100%"><span class="fw-bold">100%</span></div>
                      </div>
                    </td>
                    <td scope="col" style="width: 10%; white-space: nowrap;text-align: center;"><img src="../static/img/check-verde.png" alt="check-verde" width="50" height="40"></td>
                    <td scope="col" style="width: 10%; text-align: center;"><a style="cursor: pointer;">Ver Resultados</a></td>
                  </tr>
                </tr>
                <tr style="height: 125px;">
                  <th scope="col"></th>
                  <th colspan="4"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>

    <footer class="footer">
        <div class="container-fluid pt-3" style="background: #1078B7;">
            <div class="row">
                <div class="col">
                    <h2 class="text-explore">ITS</h2>
                    <h3 class="text-explore">Innovation in technology for society</h3>
                    <p class="text-explore">© ITS, 2023. Todos los derechos reservados</p>
                </div>
                <div class="col">
                    <h3 class="text-explore">EXPLORA</h3>
                    <ul class="ul-footer">
                        <li class="footer-item">
                            <a href="#">Inicio
                            </a>
                        </li>
                        <li class="footer-item"><a href="#">Nosotros</a></li>
                        <li class="footer-item"><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-ayuda">¿NECESITAS AYUDA?</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-legal">LEGAL</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Terminos y condiciones</a></li>
                        <li class="footer-item"><a href="#">Privacidad</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-contactanos"> CONTACTANOS </h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a>Test.Peruana@gmail.com</a></li>
                        <li class="footer-item"><a>+51 987 654 321</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
