<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="test vocacional, universitario, universidad, test, carrera universitaria">
    <meta name="description" content="Test vocacional rapido y efectivo para saber que carrera es para ti">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/signup.css">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
    <title>Test Peruana</title>
    </head>
    <body>
        <div class="header">
            <header>
            <a href="../index.html" class="skip-main"><img class="img-logo" src="../static/img/logo.png" alt="logo peruana"></a>
            </header>
            <div></div>
        </div>
        <div class="main -signup"id="main">
            <section class="container-signup container" id="container">
                <div class="signup-right">
                    <form class="signupform">
                        <h1 class="signup-h1" style="text-align: center;">Iniciar Sesion</h1>
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group2">
                            <div class="form-group3">
                                <label>Genero</label>
                                <select name="" id="" class="form-control font-unv">
                                    <option value="">Seleccione....</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>
                            <div class="form-group3">
                                <label>DNI</label>
                                <input type="text" required="required" placeholder class="form-control">
                            </div>
                        </div>
                        <div class="form-group2">
                            <div class="form-group3">
                                <label>Pais</label>
                                <select name="" id="" class="form-control">
                                    <option value="">Seleccione....</option>
                                    <option value="1">Perú</option>
                                    <option value="2">Extranjero</option>
                                </select>
                            </div>
                            <div class="form-group3">
                                <label>Telefono</label>
                                <input type="text" required="required" placeholder class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Repetir Contraseña</label>
                            <input type="password" required="required" placeholder class="form-control">
                        </div>
                        <div class="form-group">
                            <img class="signup-captcha" src="../static/img/signup-captcha.png">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-signup">
                                <span>REGISTRARSE</span>
                            </button>
                        </div>
                        
                        
                        

                    </form>  
                </div>
            </section>

        </div>
        <footer>

        </footer>

    </body>

</html>