<h1 class="text-center font-lex" >Test Orientación Vocacional</h1>
<div class="container">
    <div class="row">
        <div class="col bg-white text-start p-3" style="border-radius: 20px; flex-direction: column;">
            <div>
                <p class="p_2 font-rale">1._ Prefiero los trabajos con facilidad de movimiento.</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="respuesta1">
                    <label class="form-check-label font-rale" for="respuesta1">Prefiero trabajos fijos y sin movimiento.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="respuesta2">
                    <label class="form-check-label font-rale" for="respuesta2">No, no me gusta viajar.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta1" id="respuesta3">
                    <label class="form-check-label font-rale" for="respuesta3">Sí, me encuentro más a gusto en los trabajos con movilidad.</label>
                  </div>
            <div>
                <p class="p_2">2. Las normas deben de estar escritas y ser llevadas a cabo.</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="respuesta4">
                    <label class="form-check-label font-rale" for="respuesta1">Sí, es importante tener por escrito las normas de la empresa.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="respuesta5">
                    <label class="form-check-label font-rale" for="respuesta2">Creo que es mejor trabajar sin normas marcadas.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta2" id="respuesta6">
                    <label class="form-check-label font-rale" for="respuesta3">No, las reglas escritas pueden causar problemas de trabajo.</label>
                  </div>
            </div>
            <div>
                <p class="p_2">3. En un buen profesional debe de primar la conciencia profesional.</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="respuesta7">
                    <label class="form-check-label font-rale" for="respuesta1">No creo que deban de estar unidas las dos facetas.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="respuesta8">
                    <label class="form-check-label font-rale" for="respuesta2">Sí, un buen profesional debe de tener conciencia profesional.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta3" id="respuesta9">
                    <label class="form-check-label font-rale" for="respuesta3">No, creo que no sea necesaria.</label>
                  </div>
            </div>
            <div>
                <p class="p_2">4. Domino la lengua materna que hablo y escribo.</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta4" id="respuesta10">
                    <label class="form-check-label font-rale" for="respuesta1">Sí, aunque cometo muchas faltas de ortografía.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta4" id="respuesta11">
                    <label class="form-check-label font-rale" for="respuesta2">No, no hablo bien mi lengua materna.</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="pregunta4" id="respuesta12">
                    <label class="form-check-label font-rale" for="respuesta3">Sí, desde niño.</label>
                  </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn cprimary font-lex text-light" type="button" onclick="window.location.href='progress.html'">siguiente</button>
          </div>
        
        </div>
    </div>
</div>