<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Peruana</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/uInfo.css">
    <link rel="shortcut icon" href="../static/img/logo.png">
    <script src="https://kit.fontawesome.com/acb97cbc1a.js" crossorigin="anonymous"></script>
    <script src="../static/js/ajax_uInfo.js"></script>
</head>

<body>
    <header class="menu-header">
        <nav class="navbar navmain navbar-expand-lg " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family: 'Lexend Deca',sans-serif;font-weight: 700;">
                    <img src="../static/img/logo.png" alt="Logo" width="50" height="50"
                        class="d-inline-block align-text-center">
                Test Orientacíón Vocacional Peruana
              </a>
              <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll"
                            style="--bs-scroll-height: 100px;">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"
                                    style="color: black;"><i class="fa-solid fa-globe"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" style="color: black;">ES</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="../static/img/user-icon.png" alt="Logo" width="30" height="30"
                                        class="d-inline-block align-text-top">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
            </div>
        </nav>
    </header>
    <section class="information">
        <div class="container">
            <div class="text-center">
                <img class="d-block mx-auto mb-1" src="../static/img/UPC_logo2.png" width="80px">
                <h1 class="font-lex university-name">Universidad Peruana de Ciencias Aplicadas (UPC)</h1>
            </div>
        </div>
        <div class="container mb-3">
            <div class="row border rounded-2 shadow-lg pb-2 pt-2">
                <div class="col-md-5">
                    <h2 class="font-lex principal-info">
                        Datos principales
                    </h2>
                    <ol class="list-group-flush list-group-numbered">
                        <li class="list-group-item align-items-start d-flex">
                            <div class="ms-1 me-auto">
                                <div class="fw-bold font-lex">Gestion</div>
                                <p class="font-rale">Privada</p>
                            </div>
                        </li>
                        <li class="list-group-item align-items-start d-flex">
                            <div class="ms-1 me-auto">
                                <div class="fw-bold font-lex">Costo por mensualidad</div>
                                <p class="font-rale">S/.1490 - S/.5500 </p>
                            </div>
                        </li>
                        <li class="list-group-item align-items-start d-flex">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold font-lex">Campus</div>
                                <p class="font-rale">En total cuenta con 4 campus: <br> Monterrico, Villa, San Isidro y San miguel</p>
                            </div>
                        </li>
                        <li class="list-group-item align-items-start d-flex">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold font-lex">Subheading</div>
                                <p class="font-rale">Content for list item</p>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="col-md-7">
                    <div id="carouselUniversity" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/img/upc_sede1.jpg" class="img-fluid rounded-2" alt="...">
                              </div>
                          <div class="carousel-item">
                            <img src="../static/img/upc_sede2.jpg" class="img-fluid rounded-2" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../static/img/upc_sede3.jpg" class="img-fluid rounded-2" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselUniversity" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselUniversity" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ul class="nav justify-content-around p-2 mb-3 border-3 border-bottom border-top border-primary">
                <li class="nav-item"><button type="button" class="btn btn-outline-info" id="admision" onclick="htmlUInfo('admision.html')">Admisión</button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-info" id="beneficios" onclick="htmlUInfo('beneficios.html')">Beneficios</button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-info" id="carreras" onclick="htmlUInfo('carreras.html')">Carreras</button></li>
                <li class="nav-item"><button type="button" class="btn btn-outline-info" id="contacto" onclick="htmlUInfo('contacto.html')">Contacto</button></li>
            </ul>
        </div>
        <div id="result-option"></div>
    </section>
    <footer class="footer">
        <div class="container-fluid pt-3" style="background: #1078B7;">
            <div class="row">
                <div class="col">
                    <h2 class="text-explore">ITS</h2>
                    <h3 class="text-explore">Innovation in technology for society</h3>
                    <p class="text-explore">© ITS, 2023. Todos los derechos reservados</p>
                </div>
                <div class="col">
                    <h3 class="text-explore">EXPLORA</h3>
                    <ul class="ul-footer">
                        <li class="footer-item">
                            <a href="#">Inicio
                            </a>
                        </li>
                        <li class="footer-item"><a href="#">Nosotros</a></li>
                        <li class="footer-item"><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-ayuda">¿NECESITAS AYUDA?</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                        <li class="footer-item"><a href="#">Olvide mi contraseña</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-legal">LEGAL</h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a href="#">Terminos y condiciones</a></li>
                        <li class="footer-item"><a href="#">Privacidad</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="text-contactanos"> CONTACTANOS </h3>
                    <ul class="ul-footer">
                        <li class="footer-item"><a>Test.Peruana@gmail.com</a></li>
                        <li class="footer-item"><a>+51 987 654 321</a></li>
                    </ul>
                </div>

            </div>

        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
